   *{
   	 box-sizing: border-box;
     margin: 0; 
     padding: 0;
     font-family: arial, helvetica, sans-serif;
     font-size: 100%;
   }

   /* BASE STYLES */

   h1{
   	 margin-top: 40px;
   	 margin-bottom: 40px;
   	 text-align: center;
     font-size: 1.75em;
   }
   h2 {
   	 border: 1px solid black;
   	 text-align: center;
   	 width: 150px;
   	 height: 30px;
     font-size: 1.25em;
   }
   p {
   	 border: 1px solid black;
   	 background-color: #A52A2A;
   	 width: auto;
   	 height: auto;
   	 margin-right: 10px;
   	 margin-left: 10px;
   	 margin-bottom: 15px;
   	 padding: 40px 20px 10px 20px;
    }
 
   /* CONTAINERS OF EACH SECTION */
   div#container1 {
   	 position: relative;
   }
   div#container2 {
   	 position: relative;
   }
   div#container3 {
   	 position: relative;
   }

   /* SUBTITLES */
   #st1 {
   	 background-color: #DBA901;
   	 position: absolute;
   	 top: 0;
   	 right: 10px; 	 
   }
   #st2 {
   	 background-color: #580B05;
   	 position: absolute;
   	 top: 0;
   	 right: 10px;
   	 color: white;   	 
   }
   #st3 {
   	 background-color: #0081C2;
   	 position: absolute;
   	 top: 0;
   	 right: 10px;   	 
   }

   /* PARAGRAPHS */
   #p1 {
   	 background-color: #6E6E6E;   	 
   }
   #p2 {
   	 background-color: #6E6E6E;   	 
   }
   #p3 {
   	 background-color: #6E6E6E;   	 
   }  
   

   /* SIMPLE RESPONSIVE FRAMEWORK */
   .row{
   	 width: 100%;
   }

   /* DESKTOP VERSION */
   @media (min-width: 992px) {
     .col-dk-1, .col-dk-2, .col-dk-3 {
    	float: left;
     }
     .col-dk-1 {
    	width: 33.33%;
     }  
     .col-dk-2 {
     	width: 66.66%;
     }
     .col-dk-3 {
     	width: 100%;
     }
   }

   /* TABLET VERSION */
   @media (min-width: 768px) and (max-width: 991px) {
     .col-tb-1, .col-tb-2, .col-tb-3 {
    	float: left;
     }
     .col-tb-1 {
    	width: 25%;
     }  
     .col-tb-2 {
     	width: 50%;
     }
     .col-tb-3 {
     	width: 100%;
     }
   }
   
   /* MOBILE VERSION*/
   @media (max-width: 767px){
     .col-mb-1, .col-mb-2, .col-mb-3 {
    	float: left;
     }
     .col-mb-1 {
    	width: 33.33%;
     }  
     .col-mb-2 {
     	width: 66.66%;
     }
     .col-mb-3 {
     	width: 100%;
     }
   }